<div class="spinner_overlay hidden">
  <div class="spinner_container text-center">
    Searching for current location.
    <br />
    <span class="spinner spinner-lg spinner-inline"></span>
  </div>
</div>
